<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div class="login">
		<h1>Synthetic Data Generator</h1>

		<br>
		<br>

		<form action="#" method='post' enctype="multipart/form-data">
			<input type=file name=file>
			<input type=submit value=Upload>
		</form>

		{% if preview %}

		<h2>Dataset Preview</h2>
		<center>
		<div class="table">

			{{ data|safe }}

		</div>
		</center>

		{% endif %}

		{% if categorize %}


		<h3>1 - Categorical | 2 - Ordinal | 3 - PII(Personally Identifiable Information)</h3>
		<form action="{{url_for('categorize')}}" method = "post">
			{% for col in headers %}
			<div id=col>
				<p>{{col}}
				<input type="radio" name={{col}} id="1" value="1" required="required"> 
				<input type="radio" name={{col}} id="2" value="2"> 
				<input type="radio" name={{col}} id="3" value="3"> <br>
				</p>
			</div>
			{% endfor %}
			<input type="submit" value="Submit">
		</form>

		{% endif %}

		<br>
		<br>

		<!-- Main Input For Receiving Query to our ML -->
		<form action="{{ url_for('predict')}}" method="post">	
			<button type="submit" class="btn btn-primary btn-large">Generate Dataset</button>
			<br>
			<br>
			{% if generated %}

			<h2>Generated Dataset Preview</h2>
			<center>
			<div class="table">

				{{ gendata|safe }}

			</div>
			</center>
			{% endif %}
			<br>
			<br>

			<h2><a href="{{ url_for('download_file') }}">Download Dataset</a></h2>
		</form>

		<br>
		<br>

		{% with messages = get_flashed_messages()%}
			{% if messages %}
				{% for msg in messages %}
					<h2>{{msg}}</h2>
				{% endfor %}
			{% endif %}
		{% endwith %}

	</div>
</body>

</html>