<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>ML API</title>
  <link rel="shortcut icon" href='https://svgshare.com/i/WYQ.svg' title='asd' type="image/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/style.css">

	<style>
		#myDIV {
			display:none;
		}
	</style>
	<!-- add icon link -->
	
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Image and text -->

	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="">
		<img src='https://svgshare.com/i/WYQ.svg' title='asd' width="30" height="30" class="d-inline-block align-top" alt="">
		DynamoFL
		</a>
  	</nav>
	
	<br>
	<br>
	<center>
		<h3>Synthetic Data Generator</h3>

		<br>
		<br>

		<script>
			function uploadFile(target) {
				document.getElementById("file-name").innerHTML = target.files[0].name;
			}
		</script>

		<form action="#" method='post' enctype="multipart/form-data">
			<div class="inputfile-box">
				<input type="file" id=file name=file class="inputfile" onchange='uploadFile(this)'>

				<label for=file>
					<span id="file-name" class="file-box"></span>
					<br>
					<br>
					<span class="file-button">
						<i class="fa fa-upload" aria-hidden="true"></i>
						Select File
					</span>	
					<span>
						<input type="submit" class="btn btn-info" value="Upload">
					</span>
				</label>
			</div>
		</form>

		{% if preview %}

		<br>
		<br>

		<h4>Dataset Preview</h4>
		<center>

			{{ data|safe }}

		</center>

		{% endif %}

		{% if categorize %}


		<!-- <h3>Select</h3> -->
		<br><br>
		<form action="{{url_for('categorize')}}" method = "post">
			<h5><label for="target">Choose target column:</label></h5>
			<select name="target" id="target">
			{% for col in headers %}
				<option value="{{col}}">{{col}}</option>
			{% endfor %}
			</select>
			<input type="submit" class="btn btn-info" value="Submit">
		</form>

		<br>
		<br>

		{% endif %}

		<br>

		<script>
			function myFunction() {
				var x = document.getElementById("myDIV");
				var y = document.getElementById("btn1");
				if (x.style.display === "block") {
					x.style.display = "none";
				} else {
					x.style.display = "block";
					y.style.display = "none";
				}
			}
		</script>

		<!-- Main Input For Receiving Query to our ML -->
		<form action="{{ url_for('predict')}}" method="post">	
			<button type="submit" class="btn btn-info" id='btn1' onclick="myFunction()">Generate Dataset</button>
			<br>
						
			<div id="myDIV">
				<div class="wrapper">
					<div class="loader">
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					  <div></div>
					</div>

				</div>
			</div>

			<br>
			
			{% if generated %}

			<h2>Generated Dataset Preview</h2>
			<center>

				{{ gendata|safe }}

			</center>

			<br>
			<br>
			{% endif %}
			
			<a href="{{ url_for('download_file') }}" class="btn btn-info" role="button">Download Dataset</a>

		</form>

		<br>
		<br>

		{% with messages = get_flashed_messages()%}
			{% if messages %}
				{% for msg in messages %}
				<div class="alert alert-success">{{msg}}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

	</center>
</body>

</html>